<!-- <ul>
    <li *ngFor="let gift of response">
        {{ gift.title }}
    </li>
</ul> -->

<div class="row">
    <div *ngFor="let gift of response" class="col-md-4 col-sm-6 animate__animated animate__fadeIn">

        <div class="card">
            <img [src]="gift.images.downsized_medium.url" 
                 [alt]="gift.title"
                 class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    {{ gift.title }}
                </p>
            </div>
        </div>

    </div>
</div>
